@import "tailwindcss";
@theme {
  --color-main-dark: #0b0e12;
  --color-main-gray: #16181c;
  --color-main-purple: #42264d;
}
@layer base {
  body {
    @apply min-h-screen w-full;
    background: linear-gradient(to bottom, var(--color-main-gray), var(--color-main-dark), var(--color-main-purple));
    background-attachment: fixed;
  }
}